name: Workflow Dispatch

on:
    workflow_dispatch:
      inputs:
        message:
          default: "This is a manual trigger message"
    pull_request:
      types: [opened]
      branches:
        - main

jobs:
  print-message:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.event.inputs.message }}"

    after-dispatch-message:
      runs-on: ubuntu-latest
      needs: [print-message]
      if: github.event.name == "pull_request"
      steps:
        - name: pull_request opening message
          run: echo "Pull request opened: ${{ github.event.pull_request.title }}"