name: Workflow Dispatch linked jobs

on:
  workflow_dispatch:
    inputs:
      message:
        default: "This is a manual trigger message"
  pull_request:
    types: [opened]
    branches:
      - main

jobs:
  print-message:
    runs-on: ubuntu-latest
    steps:
      - name: Print manual dispatch message
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo "${{ github.event.inputs.message }}"

  after-dispatch-message:
    runs-on: ubuntu-latest
    needs: [print-message]
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: pull_request opening message
        run: echo "Pull request opened:${{ github.event.pull_request.title }}"