name: Workflow Dispatch

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Manually triggered workflow"

    deploy:
      runs-on: ubuntu-latest
      needs: [build]
      steps:
        - name: Deploy
          run: echo "Deploying to ${{ github.event.inputs.environment }}"